// this area is for widths and heights
$center: 0 auto;
$contentwidth: 980px;
$sitewidth: 1280px;
$bannerheight: 500px;
$footerheight: 100px;
$homeformwidth: 818px;
$content-width: 980px;
$nav-footer-height: 100px;
$sitewidth: 1280px;
$sitewhite: white;

// this is for site colors
$siteblue: #79addc;
$site-background: #79addc;
$sitewhite: white;
$siteblack: black;
