.tour-page-locations-2 {
  max-width: 818px;
  min-height: 304px;
  background-color: aquamarine;
  margin: $center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 40px;
}
