.tour-page-locations {
  max-width: 818px;
  min-height: 304px;
  // background-color: aquamarine;
  margin: $center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 40px;

  .israel {
    width: 236px;
    height: 304px;
    background-color: bisque;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/tour/tour-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .israeltext {
      width: 130px;
      height: 152px;
      margin: 0 auto;
      text-align: center;
      color: white;
      padding-top: 47px;
      margin-bottom: 56px;
      font-family: Nova;
      font-size: 30px;
      h2 {
        font-size: 25px;
      }
    }

    .learnmore {
      @include learnmore;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      h3 {
        padding-top: 16px;
        color: white;
        font-family: Gils;
        font-size: 13px;
      }
    }
  }

  .usa {
    width: 236px;
    height: 304px;
    background-color: bisque;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/tour/tour-02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .israeltext {
      width: 130px;
      height: 152px;
      margin: 0 auto;
      text-align: center;
      color: white;
      padding-top: 47px;
      margin-bottom: 56px;
      font-family: Nova;
      font-size: 30px;
      h2 {
        font-size: 25px;
      }
    }

    .learnmore {
      @include learnmore;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      h3 {
        padding-top: 16px;
        color: white;
        font-family: Gils;
        font-size: 13px;
      }
    }
  }

  .australia {
    width: 236px;
    height: 304px;
    background-color: bisque;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/tour/tour-03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .israeltext {
      width: 130px;
      height: 152px;
      margin: 0 auto;
      text-align: center;
      color: white;
      padding-top: 47px;
      margin-bottom: 56px;
      font-family: Nova;
      font-size: 30px;
      h2 {
        font-size: 25px;
      }
    }

    .learnmore {
      @include learnmore;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      h3 {
        padding-top: 16px;
        color: white;
        font-family: Gils;
        font-size: 13px;
      }
    }
  }

  .new-zealand {
    width: 236px;
    height: 304px;
    background-color: bisque;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/tour/tour-04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .new-zealand-text {
      width: 130px;
      height: 152px;
      margin: 0 auto;
      text-align: center;
      color: white;
      padding-top: 47px;
      margin-bottom: 56px;
      font-family: Nova;
      font-size: 20px;
      h2 {
        font-size: 25px;
      }
    }

    .learnmore {
      @include learnmore;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      h3 {
        padding-top: 16px;
        color: white;
        font-family: Gils;
        font-size: 13px;
      }
    }
  }

  .france {
    width: 236px;
    height: 304px;
    background-color: bisque;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/tour/tour-05.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .france-text {
      width: 130px;
      height: 152px;
      margin: 0 auto;
      text-align: center;
      color: white;
      padding-top: 47px;
      margin-bottom: 56px;
      font-family: Nova;
      font-size: 30px;
      h2 {
        font-size: 25px;
      }
    }

    .learnmore {
      @include learnmore;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      h3 {
        padding-top: 16px;
        color: white;
        font-family: Gils;
        font-size: 13px;
      }
    }
  }

  .egypt {
    width: 236px;
    height: 304px;
    background-color: bisque;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/tour/tour-06.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .egypt-text {
      width: 130px;
      height: 152px;
      margin: 0 auto;
      text-align: center;
      color: white;
      padding-top: 47px;
      margin-bottom: 56px;
      font-family: Nova;
      font-size: 30px;
      h2 {
        font-size: 25px;
      }
    }

    .learnmore {
      @include learnmore;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      h3 {
        padding-top: 16px;
        color: white;
        font-family: Gils;
        font-size: 13px;
      }
    }
  }

  .japan {
    width: 236px;
    height: 304px;
    background-color: bisque;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/tour/tour-07.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .japan-text {
      width: 130px;
      height: 152px;
      margin: 0 auto;
      text-align: center;
      color: white;
      padding-top: 47px;
      margin-bottom: 56px;
      font-family: Nova;
      font-size: 30px;
      h2 {
        font-size: 25px;
      }
    }

    .learnmore {
      @include learnmore;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      h3 {
        padding-top: 16px;
        color: white;
        font-family: Gils;
        font-size: 13px;
      }
    }
  }

  .canada {
    width: 236px;
    height: 304px;
    background-color: bisque;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/tour/tour-08.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .israeltext {
      width: 130px;
      height: 152px;
      margin: 0 auto;
      text-align: center;
      color: white;
      padding-top: 47px;
      margin-bottom: 56px;
      font-family: Nova;
      font-size: 30px;
      h2 {
        font-size: 25px;
      }
    }

    .learnmore {
      @include learnmore;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      h3 {
        padding-top: 16px;
        color: white;
        font-family: Gils;
        font-size: 13px;
      }
    }
  }

  .uae {
    width: 236px;
    height: 304px;
    background-color: bisque;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/tour/tour-09.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .israeltext {
      width: 130px;
      height: 152px;
      margin: 0 auto;
      text-align: center;
      color: white;
      padding-top: 47px;
      margin-bottom: 56px;
      font-family: Nova;
      font-size: 30px;
      h2 {
        font-size: 25px;
      }
    }

    .learnmore {
      @include learnmore;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      h3 {
        padding-top: 16px;
        color: white;
        font-family: Gils;
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .tour-page-locations {
    width: 300px;
    flex-direction: column;
    min-height: 940px;
  }
}
